<!DOCTYPE html>
<html lang="en">
<head>
    <title>Taggy | {{ pageName }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/slidenavigation.css' %}" />

    <script type="text/javascript" src="{% static 'js/slidenavigationscript.js' %}"></script>
</head>
<body style="background-color: #e9ebee">
    <header>
        <nav class="navbar" style="background-color: #4c70ba">
            <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" style="font-family: 'Raleway';font-size: 40px;"><font color="white"><strong>T.A.G.G.Y.</strong></font></a>
                </div>

                <div class="col-sm-3 col-md-2 pull-right">

                  <form class="navbar-form" role="search">
                      <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search" name="q">
                          <div class="input-group-btn">
                              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                          </div>
                      </div>
                      {% if adminRights == True %}
                          <strong><a href="/admin/"><font color="#fffafa">Administration board</font></a></strong>
                          <strong><font color="#fffafa">|</font></strong>
                      {% endif %}
                      <strong><a href="/accounts/logout/"><font color="#fffafa">Logout</font></a></strong>
                  </form>
                </div>

            </div><!-- /.navbar-collapse -->
        </nav>
        </div>


    </header>
    <div class="menu-text">
        <span onclick="openNav()"><img src="https://www.ecofencing.net/images/mobile-navbar-menu.png" style="width: 35px;height: 35px;"/><br /><strong class>MENU</strong></span>
    </div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/" class="category">INDEX</a>
      <a href="#" class="category">Accounts</a>
        <a href="/admin/" class="subfield">-Administration Board</a>
        <a href="/accounts/logout/" class="subfield">-Logout</a>


      <a href="#" class="category">Domain</a>
        <a href="/domain/create/" class="subfield">-Create domain</a>
        <a href="/domain/edit/" class="subfield">-Edit domain</a>
        <a href="/tag/create/" class="subfield">-Create tag</a>
        <a href="/tag/delete/" class="subfield">-Delete tag Tag</a>



      <a href="#" class="category">Set</a>
        <a href="/set/create/" class="subfield">-Create set</a>
        <a href="/set/edit/" class="subfield">-Edit set</a>
        <a href="/set/delete/" class="subfield">-Delete set</a>
        <a href="/set/assign/" class="subfield">-Assign to annotator</a>
        <a href="/set/delete-annotator/" class="subfield">-Unasign from annotator</a>
        <a href="/set/review/?s=-1" class="subfield">-Review Set</a>
        <a href="/set/tag/?s=-1" class="subfield">-Annotatoe Set</a>
        <a href="/postkappadetails/" class="subfield">-Post Kappa</a>



      <a href="#" class="category">Import Data</a>
        <a href="/upload/json/" class="subfield">-Upload JSON</a>
        <a href="/import/json/" class="subfield">-Import JSON</a>
        <a href="/parse/json/" class="subfield">-Parse JSON</a>
    </div>


    <div class="jumbotron text-center col-md-6 col-md-offset-3">
    <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {{ form.docfile.label_tag }} {{ form.docfile.help_text }}


                {{ form.docfile.errors }}
                {{ form.docfile }}


            <input type="submit" value="Upload"/>
        </form>
        <!-- List of uploaded documents -->
        {% if documents %}
            <p>List of documents uploaded:</p>
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}
    </div>
    </body>

</html>