<!DOCTYPE html>
<html lang="en">
<head>
    <title>Taggy | {{ pageTitle }} : {{ postid }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <link type="text/css" href="{% static 'css/ui-lightness/jquery-ui-1.8.13.custom.css' %}" rel="Stylesheet" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/screen.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/jquery.toggleEdit.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-1.6.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.8.13.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.toggleEdit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tagpost.js' %}"></script>

</head>
<body style="background-color: #e9ebee">
    <header>
        <nav class="navbar navbar-fixed-top" style="background-color: #4c70ba">
            <div class="container-fixed">
        <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" style="font-family: 'Raleway';font-size: 40px;"><font color="white"><strong>T.A.G.G.Y.</strong></font></a>
                </div>

                <div class="col-sm-3 col-md-2 pull-right">

                  <form class="navbar-form" role="search">
                      <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search" name="q">
                          <div class="input-group-btn">
                              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                          </div>
                      </div>
                      {% if adminRights == True %}
                          <strong><a href="/admin/"><font color="#fffafa">Administration board</font></a></strong>
                          <strong><font color="#fffafa">|</font></strong>
                      {% endif %}
                      <strong><a href="/accounts/logout/"><font color="#fffafa">Logout</font></a></strong>
                  </form>
                </div>

            </div><!-- /.navbar-collapse -->
        </nav>

        <div class="ui-menubar navbar" style="margin-top:3.6%;">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/annotation">Annotation Board</a></li>
                <li><a href="/adjudication">Adjudication Board</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/set/create">Set creation</a></li>
                <li><a href="/set/edit">Edit sets</a></li>
                <li><a href="/set/assign">Assign sets</a></li>
                <li><a href="/set/delete">Delete sets</a></li>
                <li><a href="/set/browse/">Browse sets</a></li>
                <li><a href="/set/tag/?s=-1">Tag sets</a></li>
                <li><a href="/set/adjudicate/?s=-1">Adjudicate sets</a></li>
                <li><a href="/post/tag/?setId=-1&postId=-1&adjudicationFlag=true">Tag post</a></li>
                <li><a href="/set/review/?s=-1">Review Set</a></li>
                <li><a href="/upload/json/">Upload JSON</a></li>
                <li><a href="/postkappadetails/?p=49847&adjudicateFlag=true&s=6&a=2">Post Kappa Details</a></li>
            </ul>
        </div>
    </header>

    <div class="jumbotron text-left col-md-10 col-md-offset-1">
        {% if assigned == False %}
            <center><h2><font color="red">WARNING!</font></h2></center>
            <center><p>You are not assigned to operate in this set.</p></center>
            <center><a href="/set/tag/?s=-1">[go back to the list of sets]</a></center>
        {% else %}
            <center><h2>{{ pageTitle }}</h2></center>
            {% autoescape off %}{{ display_nav_tagpost }}{% endautoescape %}
              <center><b><span id='instructionsDisplayLabel'>INSTRUCTIONS: <span id='instructionsDisplay'><button class="btn btn-info">Show/ Hide</button></span></span></b></center>
              <div id='instructions'>
                <p>
                The text in the white table below is written by a patient in an online discussion
                forum about breast cancer. Your task is to label each sentence in the post with
                one or several tags, so that each sentence\'s tag(s) represent the best the topics
                discussed in the sentence, in the context of the post.
                </p>

                <p>
                There are 11 possible tags listed below the post in two rows.
                In addition to selecting tags for a sentence, you have to determine for each tag,
                whether the author of the post is Requesting (top row of tags) or Providing
                (bottom row) the information.  Click <a href="/about/" target="_blank">here</a>
                for examples of sentences and tags (opens in a new tab).
                </p>

                <p>
                Below the post sentences (you may have to scroll down in the posts table) is a
                comment text box for you to leave any additional comments about the post.  To edit
                the comments click on the box below the "Comments" title and edit the text.  Click
                on "Save" when you are done editing the comments.
                </p>

                <p>
                When you are satisfied with the tags you selected, click "tag another post"
                to tag the next post in your posts set.
                </p>
                </div> <!-- div#instructions -->
                <p></p>
            {% autoescape off %}{{ postTableRnd }}{% endautoescape %}
            {% autoescape off %}{{ a }}{% endautoescape %}
            {% autoescape off %}{{ b }}{% endautoescape %}
            {% autoescape off %}{{ c }}{% endautoescape %}




        Info: <br> SetId:{{ setid }}; <br> PostId:{{ postid }};
    {% endif %}
    </div>



</body>
</html>
